node_modules
**/node_modules

.git
.gitignore

dist
**/dist

.next
**/.next

coverage

.env
.env.*

Dockerfile
docker-compose.yml

README.md

apps/web/.next
apps/web/node_modules

packages/ui/node_modules

pnpm-debug.log

*.log